*::selection {
  background: rgb(161, 241, 255);
  color: #505cfd;
}
.sam {
  padding: 10px;
  position: absolute;
  background: #fff;

  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  height: 400px;
}
.y {
  display: none;
}
.sam li {
  position: relative;
  list-style-type: none;
  padding: 4px;
  height: 120px;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sam li a {
  color: #262626;
  text-decoration: none;
}
.sam li .date {
  width: 100px;
}
/* .sam li .date{
     position :absolute ;
   width:20%;
  top:0;
  left:0;
     text-align:center ;
  }
  .sam li a{
    position :absolute ;
  width:80%;
  
   
  } */
.sam li .date:before {
  content: "";
  position: absolute;
  /* top:0 ;
    left:0 ; */
  width: 100px;
  border-top: 30px solid #e2574c;
  border-bottom: 50px solid #e4e7e7;
  z-index: 1;
  border-radius: 5px;
}
.sam li .date span {
  line-height: 5px;
  margin-left: 10px;
  text-align: center !important;
}
.sam li .date h3 {
  position: relative;
  z-index: 2;
  font-size: 20px;
  color: black;
}

.sam li p {
  font-size: 18px;
  width: 300px !important;
  word-wrap: break-word;
}

.win {
  height: 500px !important;
}

#win {
  height: 500px !important;
}

@media (max-width: 800px) {
  #win {
    /* display:none */
  }
  .y {
    display: block;
  }

  .sam {
    padding: 10px;
    position: absolute;
    background: #fff;
    max-height: auto !important;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    overflow: scroll;
    height: 400px;
    margin-bottom: 400px;
  }

  .sam li {
    position: relative;
    list-style-type: none;
    padding: 4px;
    height: auto;
    border-radius: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .sam li a {
    color: #262626;
    text-decoration: none;
  }
  /* .sam li .date{
     text-align:justify;
     width:100px;
  }   
    */
  /* .sam li p{
    font-size: 18px;
    width:300px !important;
    word-wrap: break-word;
  }
   */
}
